body {
  width:100%;
  height:auto;
  margin:0;
}

#header-box {
  display:none;
  width:100%;
  height:25px;
  position:absolute;
  top:0;
  background:rgba(0,0,0,1);
  color:white;
  margin:0 auto;
}

#column-main {
  min-width:50%;
  max-width:90%;
  height:auto;
  margin:0 auto;
}